<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <input type="checkbox" id="toggleImage" v-model="showImage">
        <label for="toggleImage">Показать картинку</label>
        <br>
        <input type="text" v-model="imagePath" placeholder="./img/1.jpg">
        <br>
        <img v-if="showImage" :src="imagePath" alt="Изображение">
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    showImage: false,
                    imagePath: './img/1.jpg'
                }
            }
        }).mount('#app');
    </script>

</body>

</html>